.resume-card {
  white-space: nowrap;
  cursor: pointer;
  padding: 0 16px;
  position: relative;
  border: none;
  line-height: 20px;
  .resume-card-border {
    border-bottom: solid 1px var(--bg-color-grey-3);
    padding: 24px 0 28px;
    margin: 0 !important;
  }

  .name {
    font-weight: 500;
    font-size: var(--font-size-18);
    line-height: 25px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
    :global {
      .ant-space-item {
        font-size: var(--font-size-18);
      }
    }
  }
  .company-time {
    color: var(--font-color-grey-1);
    flex-shrink: 0;
    width: 119px;
    padding-right: 16px;
  }

  .work-box {
  }

  .work-company,
  .work-position {
    width: 50%;
    display: inline-block;
  }
  .work-company {
    margin-right: 16px;
  }
  .work-position {
  }
  .work-time-line {
    transform: translateY(6px);
  }
  .ellipse {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: var(--ellipse-rows, 1);
    -webkit-box-orient: vertical;
    white-space: nowrap;
  }
  .row-top {
    margin-bottom: 9px;
  }
  .row-center {
    align-items: baseline;
    .without-time-line {
      padding-bottom: 0 !important;
      :global {
        .ant-timeline-item-head {
          background-color: transparent;
        }
      }
    }
    :global {
      .ant-timeline:last-child {
        .ant-timeline-item-tail {
          display: none;
        }
      }
      .ant-timeline-item-head {
        background-color: var(--primary-color);
        color: var(--primary-color);
        border: none;
        width: 8px;
        height: 8px;
      }
      .ant-timeline-item {
        padding-bottom: 12px;
      }
      .ant-timeline-item-tail {
        border-left: solid 1px var(--primary-color);
        top: 13px;
        left: 3px;
        height: calc(100% - 18px);
        display: block;
      }
      .ant-timeline-item-content {
        min-height: auto !important;
      }
    }
  }
  .row-basic {
    margin-bottom: 12px;
    &.no-edu {
      margin-bottom: 0;
    }
    :global {
      .ant-divider-vertical {
        margin: 0;
      }
    }
  }
  .row-education {
    &.no-skill {
      margin-bottom: 0;
    }
  }
  .tag {
    margin-top: 12px;
    &.no-padding {
      margin-top: 0;
    }
    &.margin-bottom {
      margin-bottom: 16px;
    }
  }
  .edu-subject {
    align-items: center;
    padding-right: 24px;
    :global {
      .iconfont {
        margin-right: 2px;
        color: #ccc;
      }
    }
  }
  .avatar {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border: 1px solid #ffffff;
  }

  &:hover {
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.1);
  }
  &:last-child {
    margin-bottom: 0;
  }
  :global(.ant-divider-horizontal) {
    margin-top: 24px;
    margin-bottom: 17px;
  }
  .index-area-wrap {
    padding-left: 0 !important;
    :global {
      .ant-checkbox {
        padding: 10px 5px 10px 10px;
      }
      .ant-checkbox-checked::after {
        border: none !important;
      }
    }
  }
  :global {
    .ant-divider-horizontal {
      margin: 10px 0;
    }
  }
}

.fixed-button {
  transform: translateY(-10px);
}
